@model  eProiect.Models.ViewModels.GeneralViewData
@using eProiect.Domain.Entities.User;

@{
     ViewBag.Title = "AddUserPage";
     Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}

<div class="page-header card">
     <div class="row align-items-end">
          <div class="col-lg-8">
               <div class="page-header-title">
                    <i class="icofont icofont-clip-board bg-c-blue"></i>
                    <div class="d-inline">
                         <h4>Add Academic Group Form</h4>
                         <span>
                              This form is for adding academic group.
                         </span>
                    </div>
               </div>
          </div>
          <div class="col-lg-4">
               <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                         <li class="breadcrumb-item">
                              <a href="@Url.Action("Schedule", "Home")">
                                   <i class="icofont icofont-home"></i>
                              </a>
                         </li>
                         <li class="breadcrumb-item">
                              <a href="@Url.Action("AcademicGroups", "Admin")">Academic Groups</a>
                         </li>
                         <li class="breadcrumb-item">
                              <a href="@Url.Action("AddAcademicGroup", "Admin")"> Add Academic Group</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</div>

<div class="page-body">

     <div class="row">
          <div class="col-sm-12">
               <!-- Post comment card start -->
               <div class="card">
                    @*<div class="card-header">
                         <h5></h5>
                         <span>The first input is for the academic group name and the second is for the academic group year.</span>
                         <div class="card-header-right"> <i class="icofont icofont-spinner-alt-5"></i> </div>
                    </div>*@
                    <div class="card-block">
                         <div class="j-wrapper j-wrapper-640">
                              <div class="j-pro" id="j-pro">
                                   <div class="j-content">
                                        <!-- start name -->
                                        <div class="j-row">
                                             <div class="j-span6 j-unit">
                                                  <div class="j-input">
                                                       <label class="j-icon-left" for="academicGroupName">
                                                            <i class="icofont icofont-group-students"></i>
                                                       </label>
                                                       <input type="text" id="academicGroupName" name="academicGroupName" placeholder="Name of Academic Group" class="name-group">
                                                  </div>
                                             </div>
                                             <div class="j-span6 j-unit">
                                                  <div class="j-input">
                                                       <label class="j-icon-right" for="academicGroupYear">
                                                            <i class="icofont icofont-ui-calendar"></i>
                                                       </label>
                                                       <select id="academicGroupYear" name="select" class="form-control form-control-default" placeholder="Name" style="height:48px">
                                                            <option value="opt1">Select Year</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                       </select>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- end name -->
                                        
                                        <!-- start  -->

                                        <div class="j-unit">
                                             <span class="j-error-message" id="error_span" style=" align-content: center; height: 48px; display: none; "></span>
                                        </div>

                                        <!-- end  -->
                                        <!-- start response from server -->
                                        <div class="j-response"></div>
                                        <!-- end response from server -->
                                   </div>
                                   <!-- end /.content -->
                                   <div class="j-footer">
                                        <button id="submit" class="btn btn-primary" onclick="send_academicGroup()">Add Academic Group</button>
                                   </div>
                                   <!-- end /.footer -->
                              </div>
                         </div>
                    </div>
               </div>
               <!-- Post comment card end -->
          </div>
     </div>
</div>
