
@{
    ViewBag.Title = "PendingClasses";
    Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}

<div id="allContent" class="content-wrapper">


    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="icofont icofont-list bg-c-blue"></i>
                    <div class="d-inline">
                        <h4>Perechi neconfirmate</h4>
                        <span>
                            Confirmă perechile adăugare de către profesori și rezolvă conflicte.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Home/Schedule">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#"> Perechi</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/Admin/PendingClasses"> Perechi neconfirmate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="conflictsList" class="card">
        <div class="card-body">
            <div><p class="f-s-18">Rezolvă conflicte</p></div>

            <div class="d-flex justify-content-center align-content-center flex-wrap flex-column">
                <div id="conflictMessage" class="d-flex justify-content-center dashed-gray-border height-7-rem flex-wrap align-content-center closed"><p class="m-b-0 f-s-16 light-gray-col h-fit-content">Nu există conflicte active</p></div>
                <div id="conflictsContainer" class="justify-content-center" style=" max-width: 1096px; width: 95%;"></div>
            </div>

            <br />

            <div><p class="f-s-18">Confirmă perechi</p></div>
            <div id="pendingMessage" class="d-flex justify-content-center dashed-gray-border height-7-rem flex-wrap align-content-center closed"><p class="m-b-0 f-s-16 light-gray-col h-fit-content">Nu sunt perechi ce necesită aprobare</p></div>
            <table id="pendingClassesTableWhole" class="gray-table-border" style=" max-width: 1096px;">
                <thead>
                    <tr>
                        <th class="rowlike-tablecell font-weight-bold" style="width: 20%;">Nr</th>
                        <th class="rowlike-tablecell">Profesor</th>
                        <th class="rowlike-tablecell">Disciplină</th>
                        <th class="rowlike-tablecell">Tipul</th>
                        <th class="rowlike-tablecell">Grupa</th>
                        <th class="rowlike-tablecell">Cabinetul</th>
                        <th class="rowlike-tablecell">Ziua</th>
                        <th class="rowlike-tablecell">Început</th>
                        <th class="rowlike-tablecell">Sfârșit</th>
                        <th class="rowlike-tablecell">Frecvența</th>
                        <th class="rowlike-tablecell">Detalii</th>
                    </tr>
                </thead>
                <tbody id="pendingClassesTable"></tbody>
            </table>

        </div>
    </div>


    <div id="inEditConflicts" class="card closed">
        <div class="card-body">
            <div id="conflictSolverCard" class=" d-flex flex-wrap justify-content-center">

            </div>
            <div class="col d-flex justify-content-end m-t-20">
                <button id="submit-button-modlesson" onclick="solveConflict()"  type="submit" class="addlesson-button addlesson-button-confirm conflict-button" style="">Salvează</button>
                <button id="cancel-button-modlesson" onclick="returnToConflictList()" class="addlesson-button addlesson-button-deny conflict-button" style=""> <i class="ti-close"></i></button>
            </div>
        </div>
    </div>
</div>

