
@using System.Web.Optimization
@*@model eProiect.Models.ViewModels.GeneralViewData*@
@model eProiect.Models.Schedule.SelectedClassInfo

<div class="card">
    <div class="card-body">
        <div class="page-top-info" style="margin-bottom: -4px; display: inline-flex; align-items: center; width:100%">
            <div class="highlighted-lesson-info">

                <span style="font-size: 30px; color: #303548; margin-right: 8px;">Perechea va fi plasată </span>
                <div style="background-color: #4291e5; border-radius: 14px ">
                    <span class="selected-lesson-startime">@Model.WeekDayName @Model.StartTime.ToString("hh\\:mm")</span>
                </div>
            </div>

            <div class="cancel-action">
                <a class="ti-close f-26" style="font-weight:bolder; color:white" href="@Url.Action("Schedule", "Home")"></a>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <div class="container" style="margin:0">
            <!--Year selector, group-->
            <div class="row">
                <div class="select-category-addlesson col-2"><span>Anul de studii</span></div>
                <div class="col-2">
                    <select id="yearSelector" name="select" class="yearSelect form-control form-control-inverse">
                        <option disabled selected>anul</option>
                        <option value="1">anul 1</option>
                        <option value="2">anul 2</option>
                        <option value="3">anul 3</option>
                        <option value="4">anul 4</option>
                    </select>
                </div>

                <div class="select-category-addlesson col-2"><span>Grupa</span></div>
                <div class="col-2">
                    <select id="groupSelector" name="select" class="form-control form-control-inverse">
                        <option disabled selected>grupa</option>
                    </select>
                </div>
            </div>

            <!--Discipline,Type-->
            <div class="row">
                <div class="select-category-addlesson col-2"><span>Disciplina</span></div>
                <div class="col-2">
                    <select id="disciplineSelector" name="select" class="form-control form-control-inverse">
                        <option disabled selected>disciplina</option>
                    </select>
                </div>

                <div class="select-category-addlesson col-2"><span>Tipul perechii</span></div>
                <div class="col-2">
                    <select id="typeSelector" name="select" class="form-control form-control-inverse">
                        <option disabled selected>tipul</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
