
<div class="navbar-logo">
    <div class="logo-container">
        <span class="main-word rubik-400">Orar Academic</span>
        <span class="second-word rubik-500">FCIM</span>
    </div>        
</div>


<div class="button-container">        
    <button id="loginGuest" class="button btn btn-primary guest-login-button">Log In</button>              
</div>
