<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>

<div class="pcoded-inner-navbar main-menu">
     
     <div class="pcoded-navigatio-lavel" data-i18n="nav.category.tables">Tables</div>
     <ul class="pcoded-item pcoded-left-item">
         <li class="">
             <a href="@Url.Action("Index", "Home")">
                 <span class="pcoded-micon"><i class="ti-receipt"></i><b>B</b></span>
                 <span class="pcoded-mtext" data-i18n="nav.bootstrap-table.main">Dashboard</span>
                 <span class="pcoded-mcaret"></span>
             </a>
             <!-- <ul class="pcoded-submenu">
          <li class=" ">
               <a href="bs-basic-table.html">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.bootstrap-table.basic-table">Basic Table</span>
                    <span class="pcoded-mcaret"></span>
               </a>
          </li>
          <li class=" ">
               <a href="bs-table-sizing.html">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.bootstrap-table.sizing-table">Sizing Table</span>
                    <span class="pcoded-mcaret"></span>
               </a>
          </li>
          <li class=" ">
               <a href="bs-table-border.html">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.bootstrap-table.border-table">Border Table</span>
                    <span class="pcoded-mcaret"></span>
               </a>
          </li>
          <li class=" ">
               <a href="bs-table-styling.html">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.bootstrap-table.styling-table">Styling Table</span>
                    <span class="pcoded-mcaret"></span>
               </a>
          </li>
     </ul>
        -->
         </li>
          <li class="pcoded-hasmenu">
               <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-widgetized"></i><b>DT</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.data-table.main">Data Table</span>
                    <span class="pcoded-mcaret"></span>
               </a>
               <ul class="pcoded-submenu">
                    <li class=" ">
                         <a href="dt-basic.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.basic-initialization">Basic Initialization</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-advance.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.advance-initialization">Advance Initialization</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-styling.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.styling">Styling</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-api.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.api">API</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ajax.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.ajax">Ajax</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-server-side.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.server-side">Server Side</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-plugin.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.plug-in">Plug-In</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-data-sources.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table.data-sources">Data Sources</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>

               </ul>
          </li>
          <li class="pcoded-hasmenu">
               <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-loop"></i><b>D</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.main">Data Table Extensions</span>
                    <span class="pcoded-mcaret"></span>
               </a>
               <ul class="pcoded-submenu">
                    <li class=" ">
                         <a href="dt-ext-autofill.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.autofill">AutoFill</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="pcoded-hasmenu">
                         <a href="javascript:void(0)">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.button.main">Button</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                         <ul class="pcoded-submenu">
                              <li class=" ">
                                   <a href="dt-ext-basic-buttons.html">
                                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.button.basic-button">Basic Button</span>
                                        <span class="pcoded-mcaret"></span>
                                   </a>
                              </li>

                              <li class=" ">
                                   <a href="dt-ext-buttons-html-5-data-export.html">
                                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.button.html-data-export">Html-5 Data Export</span>
                                        <span class="pcoded-mcaret"></span>
                                   </a>
                              </li>

                         </ul>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-col-reorder.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.col-reorder">Col Reorder</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-fixed-columns.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.fixed-columns">Fixed Columns</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-fixed-header.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.fixed-header">Fixed Header</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-key-table.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.key-table">Key Table</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-responsive.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.responsive">Responsive</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-row-reorder.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.row-recorder">Row Reorder</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-scroller.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.scroller">Scroller</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class=" ">
                         <a href="dt-ext-select.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.data-table-extensions.select-tbl">Select Table</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
               </ul>
          </li>
          <li class=" ">
               <a href="foo-table.html">
                    <span class="pcoded-micon"><i class="ti-view-list-alt"></i><b>F</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.foo-table.main">FooTable</span>
                    <span class="pcoded-mcaret"></span>
               </a>
          </li>
          <li class="pcoded-hasmenu ">
               <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-view-list"></i><b>HT</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.handson-table.main">Handson Table</span>
                    <span class="pcoded-mcaret"></span>
               </a>
               <ul class="pcoded-submenu">
                    <li class="">
                         <a href="handson-appearance.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.appearance">Appearance</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-data-operation.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.data-operation">Data Operation</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-rows-cols.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.rows-columns">Rows Columns</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-columns-only.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.columns-Only">Columns Only</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-cell-features.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.cell-features">Cell Features</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-cell-types.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.cell-types">Cell Types</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-integrations.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.integrations">Integrations</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-rows-only.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.rows-Only">Rows Only</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
                    <li class="">
                         <a href="handson-utilities.html">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.handson-table.utilities">Utilities</span>
                              <span class="pcoded-mcaret"></span>
                         </a>
                    </li>
               </ul>
          </li>
          <li class="">
               <a href="editable-table.html">
                    <span class="pcoded-micon"><i class="ti-write"></i><b>E</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.editable-table.main">Editable Table</span>
                    <span class="pcoded-mcaret"></span>
               </a>
          </li>
     </ul>
     
</div>