body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #343a40;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    height: 10%;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
    width:20%;
}

th {
    background-color: #f2f2f2;
    color: #343a40;
    width: 50%;
}

.highlight {
    background-color: #f8f9fa;
}

.special {
    background-color: #f0f0f0;
}
